body {
    margin: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.avatar {
    width: 150px;
    border-radius: 10px;
}
 
.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content:space-around;
    text-align: center;
    background: #ffa200;
    color: #800e13;
    border-bottom: 6px solid #f1d302;
    box-shadow: 10px 5px 5px #800e13;
}

.border-blue {
    border: 1px dotted blue;
    
}

h4:hover{
    color:red ;
}
